
@{
    ViewData["Title"] = "ResetPasswordConfirmation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div style="height:200px"></div>

<h2>Password Reset Successful</h2>
<p>You can now log in with your new password.</p>
<a asp-action="Login">Login</a>


